#org-div-home-and-up {
    float:right;
    /*border: 1px solid #aaaaaa;*/
    padding: 0px 12px 0px 0px;
    font-size:14px;
    /*border-radius: 1px;*/
    margin-top: 3em;
    /*box-shadow: 2px 2px 10px #333333;*/
    text-align: center;
    position:fixed;
    right: 0;
}
#org-div-home-and-up a:hover{
    color:#614ad3;
    font-size:18px;
    outline: none;
	text-decoration: none;
	position: relative;
	line-height: 1;
	display: inline-block;
	font-weight: bold;
    animation: font-big 0.1s;
    -moz-animation: font-biig 0.1s;	/* Firefox */
    -webkit-animation: font-big 0.1s;	/* Safari 和 Chrome */
    -o-animation: font-big 0.1s;	/* Opera */
}

.outline-text-2 a{
    font-weight:100;
    font-size:16px;
}

.outline-text-2 a:hover{
    color:#614ad3;
    font-size:18px;
    outline: none;
	text-decoration: none;
	position: relative;
	line-height: 1;
	display: inline-block;
	font-weight: bold;
	animation: font-big 0.1s;
    -moz-animation: font-biig 0.1s;	/* Firefox */
    -webkit-animation: font-big 0.1s;	/* Safari 和 Chrome */
    -o-animation: font-big 0.1s;	/* Opera */
}


@keyframes font-big
{
from {font-size: 15px;}
to {font-size: 18px;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {font-size: 15px;}
to {font-size: 18px;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
from {font-size: 15px;}
to {font-size: 18px;}
}

@-o-keyframes myfirst /* Opera */
{
from {font-size: 15px;}
to {font-size: 18px;}
}
